@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.container {
  overflow: auto;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}
/* From Uiverse.io by ZacharyCrespin */ 
button {
  cursor: pointer;
  font-weight: 500;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  color:black;
  background: white;
  border: 1px solid #0000000d;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  background: white;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

